@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  cursor: default;
  user-select: none;
}

/* Allow text selection only in inputs and textareas */
input,
textarea,
[contenteditable="true"] {
  cursor: text;
  user-select: text;
}

/* Make pointers consistent for buttons and links */
button,
a {
  cursor: pointer;
}